/***** Question componentes and subcomponents */
.ICcard{
    box-shadow: 5px 5px 5px -2px rgba(128,128,128,1);
}
.question{
    font-size: 1.6em;
}

.timer{
    font-size: 1.2em;
}   
@media only screen and (max-width: 600px) {

    .question{
        font-size: 1em;
    }

    .timer{
        font-size: 0.8em;
       }   
}

.hearth{
    color: #C12D3F;
}

.selectBtn{
   width:100%;
   margin: 2%;
}
@media only screen and (min-width: 600px) {

    .selectBtn{
        width:30%;
        margin: 2%;
     } 
}

.blink {
    animation: blinker 2s linear ;
    opacity: 0;
    font-size: 2em;
  }

  @keyframes blinker {
      25%{
          opacity: 25;
      }
    50% {
      opacity: 50%;
    }
    100%{
        opacity: 0%;
    }
  }