/****** Navbar ******/
.navLink{
    min-width: 5em;
  }
  .navLink:hover{
    background-color: rgba(0, 0, 0, 0.4) ;
  }
  
  .actualPage{
    background-color: rgba(0, 0, 0, 0.4) ;
  }
  
  .textSizeBtn{
    font-size: 0.5em;
  }

  .brandImg{
    max-width: 30px;
    max-height: 30px;
  }

  /****** LangButton *****/
  .dropdown-menu{
    min-width: 3em;
  }