body{
  background-color: #f8f8f8;
}
.bg-blue{
  background-color: #588BAE;
}
.btn-primary{
  color: white;
  background-color: #0363bd;
  border-color: #0363bd;
}

.titleBar{
  /* cdn link in index.html */
  font-family: 'Aclonica',sans-serif; 
}

.btn:not(:hover)
{
    transition: all 0.4s ease-in-out;
    transform: scale(1);
}
.btn:hover{
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}

.fadeIn{
  -webkit-animation: 2s linear 0s fade_in;
  animation: 2s linear 0s fade_in;
}

@-webkit-keyframes fade_in { from { opacity: 0; } to { opacity: 1; }  }
        @keyframes fade_in{ from { opacity: 0; } to { opacity: 1; }  }


.fadeOut{
  opacity: 0;
  -webkit-animation: 2s linear 0s fade_out;
  animation: 2s linear 0s fade_out;
}

@-webkit-keyframes fade_out { from { opacity: 1; } to { opacity: 0; }  }
        @keyframes fade_out{ from { opacity: 1; } to { opacity: 0; }  }


.errorForm{
  font-size: 0.8em;
}